LoginPage.css

.login-page {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 300px;
  }
  
  .login-container {
    display: flex;
    width: 250%;
    height:200px;
    border: 1px solid #ccc;
  }
  
  .login-container .login-image,
  .login-container .login-form {
    display :flex;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-container .login-image img {
    width: 100%;
    height: 40px;
  }
  
  .login-container .login-form h2 {
    text-align: center;
  }
  
  .login-container .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container .login-form label {
    margin-bottom: 8px;
  }
  
  .login-container .login-form input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .login-container .login-form button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
  }
  